/* HTML elements */
h1{
    color: aliceblue;
    font-size: 10rem;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    padding: 20px 60px;
    text-align: center;
}

p{
    font-family: 'Oswald', sans-serif;
}

img{
    width: 60%;
}

main{
    background-image: url("http://cdn2.bigcommerce.com/n-d57o0b/1kujmu/product_images/uploaded_images/leather.jpg");
    
}

/* Classes from Game */

.btn{
    font-family: 'Oswald', sans-serif;
}

.top-game, .bottom-game{
    padding: 15px 15px;
    text-align: center;
}

.stop, .give, .new-game{
    margin: 15px 15px;
    width: 50%;
}

.sum{
    color: aliceblue;
    font-family: cursive;
    font-size: 2.5rem;
}

/* Footer */
footer{
    background-color: aliceblue;
    color: darkred;
    font-family: 'Oswald', monospace, sans-serif;
    padding: 10px 5px;
    text-align: center;
}