/* HTML elements */
h1{
    color: aliceblue;
    font-size: 10rem;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    padding: 20px 60px;
    text-align: center;
    text-shadow: 4px 4px 5px darkred;
}

p{
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 1px 4px gray;
}

img{
    width: 60%;
}

main{
    background-image: url("http://cdn2.bigcommerce.com/n-d57o0b/1kujmu/product_images/uploaded_images/leather.jpg");
    
}

/* Classes and Id from Game */

.title{
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slideing;
}

@keyframes slideing {
    from {
      margin-right: 100%;
      width: 300%;
    }    
}

.btn{
    background-color: rgb(216, 214, 214);    
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}

.btn:hover {
    background-color: rgb(248, 243, 243);
    box-shadow: aliceblue 0px 0px 1px 3px;
    font-weight: 900;
}

.btn:active{
    transform: translateY(5px);
}

.top-game, .bottom-game{
    padding: 15px 15px;
    text-align: center;
}

.stop, .give, .new-game{
    color: rgb(46, 38, 38);
    margin: 15px 15px;
    width: 50%;
}

.sum{
    color: aliceblue;
    font-family: cursive;
    font-size: 2.5rem;
}

/* Footer */
footer{
    background-color: aliceblue;
    color: darkred;
    font-family: 'Oswald', monospace, sans-serif;
    padding: 10px 5px;
    text-align: center;
    padding: 0;
}

.footer{
    margin: 5px 5px;
}